<header>
  <div>
    <h1 id="header-title">GameTechSolutions</h1>
    <p id="header-subtitle">
      Modificación y mantenimiento profesional de consolas
    </p>

    <nav>
      <input type="checkbox" id="menu-toggle" class="menu-toggle">
      <label for="menu-toggle" class="menu-icon">☰</label>

      <ul class="nav-menu">

        <li><a href="/">Inicio</a></li>

        <li tabindex="0">
          <button class="menu-parent" type="button">Microsoft <span class="caret">▾</span></button>
          <ul class="submenu">
            <li><a href="/consolas/xbox/">Xbox Clásica</a></li>
            <li><a href="/consolas/xbox360/">Xbox 360</a></li>
            <li><a href="/consolas/xboxone/">Xbox One / Series</a></li>
          </ul>
        </li>

        <li tabindex="0">
          <button class="menu-parent" type="button">Nintendo <span class="caret">▾</span></button>
          <ul class="submenu">
            <li><a href="/consolas/gamecube/">Nintendo GameCube</a></li>
            <li><a href="/consolas/wii/">Nintendo Wii</a></li>
          </ul>
        </li>

        <li tabindex="0">
          <button class="menu-parent" type="button">Sony <span class="caret">▾</span></button>
          <ul class="submenu">
            <li><a href="/consolas/ps2/">PlayStation 2</a></li>
            <li><a href="/consolas/ps3/">PlayStation 3</a></li>
            <li><a href="/consolas/ps4/">PlayStation 4</a></li>
            <li><a href="/consolas/psp/">PlayStation Portable</a></li>
            <li><a href="/consolas/psvita/">PlayStation Vita</a></li>
          </ul>
        </li>

        <li><a href="/contacto/">Contacto</a></li>
        <li><a href="/faq/">FAQ</a></li>

      </ul>
    </nav>
  </div>
</header>
