html, body {
  height: 100%;
  overflow: hidden; /* evitamos scroll global */
}

/* Header fijo */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 110px;
  background-color: #121212;
  border-bottom: 1px solid #222;
  z-index: 1000;
}

/* Footer fijo */
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-color: #121212;
  border-top: 1px solid #222;
  z-index: 1000;
}

/* Área central con scroll */
main {
  position: absolute;
  top: 110px;   /* altura del header */
  bottom: 50px; /* altura del footer */
  width: 100%;
  overflow-y: auto;
  padding: 40px 0;
}

/* Contenedor */
.container {
  max-width: 900px; /* MÁS angosto = más elegante */
  margin: 0 auto;
  padding: 0 20px;
}
